@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    
}
.ov-f img{
    cursor: pointer;
    overflow: hidden;
    
}
.ov-f img:hover{
    transform: scale(1.2);
    transition: 0.5s linear;
}
.ov-f{
    overflow: hidden;
}

/* -------------------------------------------------------------header------------------------------------------------------------------- */



/* -------------------------------------------------------------Navbar------------------------------------------------------------------- */
.bg{
    background-color: #264653;
    
}
.name{
    background-image: linear-gradient(rgb(255, 129, 71),rgb(248, 39, 39));
    font-family: 'Anton', sans-serif;  
    
}
.btn{
    color: rgb(255, 255, 255);
    background-color: #E76F51;
}

.icon{
    color: orange;
}
/* -------------------------------------------------------------Navbar------------------------------------------------------------------- */

.text{
    color: white;
    word-wrap: wrap;
}
.text>span{
    font-size: 48px;
    width: 700px;
}
.container p{
    color: #6C6C6C; 
}
/* -----------------------------------------------------------------------header----------------------------------------------------------- */

/* ----------------------------------------------------------------------client----------------------------------------------------------- */
.client-title{
    font-size: 48px;
    line-height: 72px;
    color: #0A0826;
}
.client-title span, 
.faq-title span,
.ft-text h6,
.ft-text h2{
    color:  #E76F51;
}

@media only screen and (min-width:768px) {

    .card-client {
        width: 322px;
        height: 478px;
    }
    
}

/* ----------------------------------------------------------------------client----------------------------------------------------------- */


/* ----------------------------------------------------------------------ft. bike----------------------------------------------------------- */
.ft-bike img{
    
    filter: grayscale(100%);
}

.ft-bike img:hover{
    filter: grayscale(0%);
    
}
/* ----------------------------------------------------------------------ft. bike----------------------------------------------------------- */


/* ----------------------------------------------------------------------footer------------------------------------------------------------ */

footer{
    color: white;
    background-color:  #0B0D17;
}

/* ----------------------------------------------------------------------footer------------------------------------------------------------ */



